/******** GENERAL **********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main-container>*:not(header) {
    padding: 0 2em;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    body{
        margin-top: 1em;
    }
}

/********* MAIN CONTAINER ***********/
.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    .main-container{
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* HEADER ***********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>img{
    justify-content: flex-start;
    height: 1em;
}
header>div{
    display: flex;
    gap: 1em;
}
header>div>a{
    /* margin-left: 30px; */
    flex-direction: row;
    border-top: 2px solid transparent;
    /* padding-top: 15px; */
    padding: 1em;
}
header>div>a:hover {
    border-top-color: #007bff; 
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    header{
        justify-content: center;
        flex-wrap: wrap;
        height: 150px;
    }
    
    header>div{
        width: 100%;
        justify-content: space-around;
        border-bottom: 4px solid #F2F2F2;
        /*padding-bottom: 20px;*/
        font-size: 1.2em;
    }

    header>div>a{
        justify-content: center;
        border-bottom: 2px solid transparent;
        width: 50%;
        text-align: center;
        border-top: none;
        font-size: 1.4em;
    }

    header>div>a:hover {
        border-bottom-color: #007bff; 
    }

    header>img{
        height: 2em;
        justify-content: center;
        margin: 30px;
        
    }    
}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* NAVIGATION ***********/
nav{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

nav>h3{
    font-size: 22px;
    padding: 0px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 7px;
}

nav>p{
    padding: 0%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 1.5em;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    nav{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
    nav>h3{
        width: 100%;
        justify-content: space-around;
        /*border-bottom: 4px solid #F2F2F2;
        padding-bottom: 20px;
        padding-left: 35px;*/
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    nav>p{
        justify-content: center;
        /*margin-left: 35px;
        width: 0%;*/
        font-size: 1.9em;
    }
}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* FORMULAIRE DE RECHERCHE ***********/

nav>#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav>#search-input:focus {
    outline: none; 
}

nav>form>button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav>form>button:hover {
    background-color: #0056b3;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    nav>#search-input{
        justify-content: center;
        flex-wrap: wrap;

    }
    
    nav>#search-input:focus{
        width: 100%;
        justify-content: space-around;

    }

    nav>form>button{
        justify-content: center
    }

    nav>form>button:hover{
        height: 1.5em;
        justify-content: center
    }

    nav button.mobilebtn{
        display: block;
    }

    nav button.dekstopbtn{
        display: none;
    }

    .mobilebtn {
        width: 100%; /* Faire en sorte que le bouton de recherche prenne toute la largeur du formulaire */
        background: none; /* Supprimer l'arrière-plan par défaut du bouton */
        border: none; /* Supprimer la bordure par défaut du bouton */
        padding: 0; /* Supprimer le rembourrage par défaut du bouton */
    }

    .mobilebtn i {
        display: block; /* Afficher l'icône en tant que bloc pour ajuster sa taille */
        /*font-size: 24px; Ajuster la taille de l'icône */
    }
}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* FILTRES *********/
nav>.Filtres {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1.5em;
}

nav>.Filtres>h4{
    font-size: 22px;
    padding: 0px;
    /*width: 100%;*/
}

nav>.Filtres a{
    background:white;
    border-radius: 50px;
    /*padding: 20px 30px;*/
    color: black;
    border: 1px solid grey;
    padding: 1em;
    font-weight:900;
}

nav>.Filtres i{
    font-size: 1.2em;
}

nav>span{
    font-weight: 900;
    font-size: 1.3em;
}

nav>.info{
    display: flex;
    gap:1em;
    align-items: center;

}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    nav>.Filtres {
        flex-wrap: wrap;
        text-align: center;
    }

    nav>.Filtres>h4 {
        margin-bottom: 10px;
        justify-content: flex-start;
        width: 100%;
        display: flex;
        font-size: 1.5em;
    }
    
    nav>.Filtres a{
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        width: 44%; /* Diviser l'espace en deux colonnes */
        box-sizing: border-box; /* Inclure les marges et les bordures dans la largeur */
        gap: 1em;
        font-size: 1.2em;
        font-weight:900;
    }

    nav>.Filtres i {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }

    nav>span{
        font-size: 1.5em;
    }

    nav>.info{
        display: flex;
        gap:1em;
        align-items: center;
        font-size: 1.7em;
    }
}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* HEBERGEMENTS AND POPULAIRES ***********/
main{
    display: flex;
}

main>.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

main>.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
   /* margin: 15px;*/
}

main>.section-title {
    margin: 0;
    font-size: 22px;
}

main>.euro {
    font-weight: 700;
}

main>.neutral-star {
    color: var(--main-bg-color)
}

main>.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
}

main>.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-wrap: wrap;
}

main>.card img {
    object-fit: cover;
}

main>.card-title {
    font-size: 16px;
}

article.card{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    main>.hebergements-and-populaires{
        /*justify-content: center;
        flex-wrap: wrap;*/
        flex-direction: column-reverse;
        gap: 3em;
    }
        
    main>.hebergements-and-populaires section{
        width: 100%;
        justify-content: space-around;


    };
    
    main>.section-title{
        justify-content: center
    };
    
    main>.euro{

        justify-content: center
    };

    main>.neutral-star{

        justify-content: center
    };
    
    main>.cta{
        justify-content: center
    };
    
    main>.card{

        justify-content: center
    };

    main>.card img{

        justify-content: center
    };

    main>.card-title{

        justify-content: center
    };

}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* HEBERGEMENTS ***********/
main>div>.hebergements {
    width: 65%;
}

main>div>.hebergements>.hebergements-card img{
    width: 100%;
    height: 136px;
    border-radius: 15px 15px 0px 0px;
}

main>div>.hebergements>.hebergements-card{
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin-bottom: 30px;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    main>div>.hebergements{
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }
        
    main>div>.hebergements>.hebergements-card img{
        width: 100%;
        justify-content: center;
        height: 10em;

    }
    
    main>div>.hebergements>.hebergements-card{
        justify-content: center;
        flex-direction: column;
        width: 96%;
    }
}

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* POPULAIRES ***********/
main>div>.populaires {
    width: 32%;
}

main>div>.populaires>.populaires-cards{
    display: flex;
    flex-direction: column;
}

main>div>.populaires>.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main>div>.populaires>.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

main>div>.populaires>.populaires-cards img {
    width: 100%;
    height: 136px;
   /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    */
    border-radius: 15px 15px 0px 0px;
}

main>div>.populaires>.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

main>div>.populaires>.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

main>div>.populaires>.populaires-cards .card-subtitle {
    margin: 0;
}

main>div>.populaires>.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    main>div>.populaires{
        /*justify-content: center;
        flex-wrap: wrap;*/
        width: 100%;

    }
        
    main>div>.populaires>.populaires-cards{
        width: 100%;
        justify-content: space-around;

    }
    
    main>div>.populaires>.populaires-title{
        justify-content: center
    }
    
    main>div>.populaires>.populaires-cards .card{
        flex-direction: row
    }

    main>div>.populaires>.populaires-cards img{
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        width: 50%;
    }
        
    main>div>.populaires>.populaires-cards .card-content{
        justify-content: center
    }
    
    main>div>.populaires>.populaires-cards .card-title{
        justify-content: center
    }
    
    main>div>.populaires>.populaires-cards .card-subtitle{
        justify-content: center
    }

    main>div>.populaires>.populaires-cards .card-rating{
        justify-content: center
    }
}  

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }
}

/********* FOOTER ***********/
.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 30px 0px;
}

.footer-container>ul {
    list-style-type: none;
    display: flex;
}

/*TABLETTE*/
@media (max-width: 1440px) and (min-width: 767.98px) {
    body{
        padding: 0 2.5em;
    }
}

/*MOBILE*/
@media (max-width: 767.98px) {
    .footer-container{
       justify-content:center ;
    }
}  

@media (min-width: 1440px) {
    div.main-container{
        width: 1440px;
    }





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
}



}